.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

.footerColor{
  background:#343a40;
  color: #fff;
}

.myhr{
  border: 3px solid #FFFFFF;
  width: 75%;
  margin:0 auto;
}